#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.josh-martin-awful-pic {
	width: 450px;
}

@media screen and (max-width: 500px) {
	.josh-martin-awful-pic {
		width: 90vw;
	}
}

.why-do-we-hate-josh-martin {
	color: #bbb;
}

@media (prefers-color-scheme: light) {
	.why-do-we-hate-josh-martin {
		color: #444;
	}
}
